<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921519721324-4t989fmg07n40h0g48fc201kcm0gt575.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921519721324-4t989fmg07n40h0g48fc201kcm0gt575</string>
	<key>API_KEY</key>
	<string>AIzaSyB7To2y-7YMDNQU8qW9Cb9xH1bJAusUWRM</string>
	<key>GCM_SENDER_ID</key>
	<string>921519721324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.port.management.dev</string>
	<key>PROJECT_ID</key>
	<string>port-management---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>port-management---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921519721324:ios:089d35f7c85c3591810149</string>
</dict>
</plist>